{% extends "TPCoreBundle:Core:layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block tpcore_body %}
    
    <h1>Me contacter</h1>

    <hr>
    <p>message flashbag pour dire que le formulaire à bien été envoyé</p>
    
    <p>c'est la page contact samere</p>
    
    <p> peut être mettre un formulaire pour contact rapide</p>

{% endblock %}